<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html" [ngClass]="{'highLight': highLight}"
      [ngStyle]="{'font-size.px': fontSize}">conduit</a>
    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="keyword"
      (keyup.Enter)="action($event)">
    <button class="btn btn-sm btn-primary" (click)="action($event)">
      <i class="ion-search"></i>
    </button>
    <span *ngIf="keyword===''; else search" class="highLight">請輸入查詢條件！</span>
    <ng-template #search>
      您輸入的文字是：{{keyword}}
    </ng-template>
    <h1>{{label}}</h1>
  </div>
</nav>
